{* sablona pro editaci pobocek uzivatele *}
<div class="row">
    <div class="large-4 columns">{widget name="subnav" controller="user" action="subnav"}</div>
    <div class="large-8 columns"><div id="RegistrationForm">
        {$user_branch_form}
    </div></div>
</div>
