{* sablona pro nastaveni uzivatelskeho uctu - zmena registracnich udaju + dodacich ardes *}<div class="row">
    <div class="large-4 columns">{widget name="subnav" controller="user" action="subnav"}</div>
    <div class="large-8 columns">
    	<h1>{$item.nadpis}</h1>
        <form action="" method="post" class="form-inline">
            {$user_registration}
        </form></div>
    </div>
