
  {widget controller="user" action="show_login_form_popup"}
{if !$logged_in}
	<li class="user"><a href="#" data-open="login"><img src="{$media_path}img/userButton.png" alt=""><br><span>Přihlásit</span></a></li>
{else}
	<li class="user logout"><a href="{$url_base}{translate str="odhlasit"}"><img src="{$media_path}img/onoff.png" alt="Odhlásit se" title="Odhlásit se"></a><span class="badge" data-tooltip aria-haspopup="true" data-h-offset="1000" class="has-tip top" tabindex="2" title="Vaše aktuální sleva je {$price_category.hodnota} %.">{$user.nazev}</span></li>
{/if}



