#backToTop {
  bottom: rem-calc(60);
  right: rem-calc(30);
  background-image: url("../img/backToTop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem-calc(78);
  height: rem-calc(78);
  &:hover {
    opacity: 0.9;
    transition: 200ms;
  }
}