.category {
  .small-up-1 > .column {
    margin-bottom: rem-calc(40);
  }
}

.category .items {
  background-size: 90%;
  height: 100%;
  background-position: center rem-calc(20);
  background-repeat: no-repeat;
  padding: rem-calc(240 15 40 15);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  -moz-box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  border-radius: rem-calc(5);
  text-align: center;
  transition: 200ms;
  position: relative;
  h3 {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    margin-bottom: 0;
    line-height: rem-calc(25);
  }
  p {
    font-size: rem-calc(18);
    font-family: $opensans-font-family;
    line-height: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    color: $body-font-color;
  }
  &:before {
    content: "";
    width: rem-calc(34);
    height: rem-calc(44);
    background-image: url('../img/offerTriangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 200ms;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    transition: 200ms;
    &:before {
      opacity: 1;
      transition: 200ms;
    }
  }
}