.contactBox {
  padding-top: rem-calc(65);
  padding-bottom: rem-calc(40);
  margin-top: rem-calc(15);
  margin-bottom: rem-calc(25);
  background-image: url("../img/contactBoxBgr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h2 {
    font-size: rem-calc(25) !important;
    text-transform: uppercase;
    margin-bottom: rem-calc(70);
  }
}