.contactForm {
  @include breakpoint(medium) {
    .columns {
      padding: rem-calc(0 4.5 0 4.5);
    }
    .row {
      padding: rem-calc(0 11);
    }
  }
  textarea {
    margin-top: rem-calc(25);
  }
  .form-error {
    color: white;
  }
}