.imgBox {
  color: $white;
  padding-top: rem-calc(35);
  padding-bottom: rem-calc(40);
  margin-top: rem-calc(50);
  margin-bottom: rem-calc(25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1, span.h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
}

.imgBox.service, .imgBox.about {
  padding-top: rem-calc(80);
  padding-bottom: rem-calc(110);
  h3 {
    font-size: rem-calc(25);
    margin-bottom: rem-calc(40);
  }
  p {
    font-size: rem-calc(15);
    margin-bottom: rem-calc(50);
  }
  .tel {
    font-size: rem-calc(16);
    font-family: $header-font-family;
    color: $white;
    padding-left: rem-calc(30);
    position: relative;
    &:before {
      content: "";
      width: rem-calc(30);
      height: rem-calc(29);
      display: inline-block;
      background-image: url("../img/tel.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: rem-calc(-10);
      top: rem-calc(-5);
    }
  }
  .button {
    margin: 0;
  }
}

.imgBox.about {
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(80);
}

.imgBoxDouble {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}