.itemList {
  > .column {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    padding-bottom: rem-calc(10);
    a:hover {
      h2, ul, p, strong {
        color: map_get($foundation-palette, primary) !important;
        transition: 200ms;
      }
      img {
        opacity: 0.8;
        transition: 200ms;
      }
    }
  }
}

.itemList .item {
  form {
    background-color: transparent;
    padding: 0 !important;
    .button {
      background-color: $button-background;
      color: $white;
      margin-bottom: rem-calc(16);
      margin-top: rem-calc(7);
      &:hover {
        background-color: scale-color($button-background, $lightness: -15%);
      }
    }
  }
  position: relative;
  text-align: center;
  color: $body-font-color !important;
  height: 100%;
 /* padding-top: rem-calc(230);*/
  min-height: rem-calc(485);
  background-repeat: no-repeat;
  background-position: center rem-calc(20);
  background-size: 90%;
  border: rem-calc(1) solid #dcdbdb;
  margin: 0;
  > div {
    position: relative;
  }
  .inline {
    display: flex;
    color: #909191 !important;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 !important;
    padding: rem-calc(0 15);
    li {
      list-style: none;
      flex-grow: 1;
      position: relative;
    }
  }
  .inline li:after{
    display: inline-block;
    content: ".";
    position: absolute;
    font-size: rem-calc(25);
    line-height: rem-calc(5);
    top: rem-calc(2);
    right: rem-calc(-2);
  }
  .inline li:last-child:after{
    display: none;
  }
  img {
    margin-top: rem-calc(15);
    margin-bottom: rem-calc(15);
    opacity: 1;
    transition: 200ms;
  }
  h2 {
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    margin-bottom: rem-calc(15);
    line-height: rem-calc(24);
  }

  .label {
    position: absolute;
    top: rem-calc(7);
    right: rem-calc(7);
    z-index: 1;
  }
  .label.warning {
    background-color: #d65151;
  }
  .label.new {
    background-color: #9fcb41;
  }

  .link {
    padding: rem-calc(0);
    .shrink {
      padding: rem-calc(0 5 10 22)
    }
    .shrink a {
      font-size: rem-calc(18);
      font-family: $header-font-family;
    }
    .button {
      padding: rem-calc(15);
    }
    .button.secondary {
      /*padding-left: rem-calc(16);
      padding-right: rem-calc(16);*/
    }
  }
}