.news {
  margin-top: rem-calc(55);
  margin-bottom: rem-calc(30);
  h2 {
    font-size: rem-calc(25);
    text-transform: uppercase;
    margin-bottom: rem-calc(35);
  }
  .small-up-1 {
    margin-bottom: rem-calc(30);
  }
  .column {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
}

.news .newsBox {
  padding: rem-calc(190 25 5 28);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: rem-calc(20);
  border-radius: rem-calc(5);
  color: $white;
  opacity: 1;
  transition: 200ms;
  height: 100%;
  position: relative;
  &:hover {
    opacity: 0.8;
    transition: 200ms;
  }
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: rem-calc(5);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,010101+61&0+23,0.77+86 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(159,159,159,0) 23%, rgba(1,1,1,0.46) 61%, rgba(1,1,1,0.77) 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(159,159,159,0) 23%,rgba(1,1,1,0.46) 61%,rgba(1,1,1,0.77) 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(159,159,159,0) 23%,rgba(1,1,1,0.46) 61%,rgba(1,1,1,0.77) 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c4010101',GradientType=0 ); /* IE6-9 */


  }
  h3, p {
    position: relative;
    z-index: 1;
  }
  h3 {
    color: $white;
    font-size: rem-calc(20);
    text-transform: uppercase;
    line-height: rem-calc(24);
    letter-spacing: rem-calc(-0.5);
    margin-bottom: rem-calc(12);
  }
  p {
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    letter-spacing: rem-calc(-0.5);
    font-family: $opensans-font-family;
  }
}