.orbit .slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: rem-calc(250);
  padding-bottom: rem-calc(170);
  min-height: calc(100vh - 6.75rem);
  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,010101+59&0+23,0.7+95 */
    background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(156,156,156,0) 23%, rgba(1,1,1,0.35) 59%, rgba(1,1,1,0.7) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(156,156,156,0) 23%,rgba(1,1,1,0.35) 59%,rgba(1,1,1,0.7) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(156,156,156,0) 23%,rgba(1,1,1,0.35) 59%,rgba(1,1,1,0.7) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3010101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  }
  h1, span.h1 {
    font-family: $ultralight-font-family;
    color: $white;
    font-size: rem-calc(36);
    letter-spacing: rem-calc(-0.5);
    line-height: rem-calc(42);
    @include breakpoint(1921px up) {
      font-size: rem-calc(40);
      line-height: rem-calc(46);
    }
    strong {
      font-family: $header-font-family;
      color: $white;
    }
  }
  p {
    color: $white;
    font-size: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    line-height: rem-calc(22);
    margin-bottom: rem-calc(30);
    @include breakpoint(1921px up) {
      font-size: rem-calc(25);
      line-height: rem-calc(29);
    }
  }
  > div {
    z-index: 1;
    position: relative;
  }
}
.orbit-previous, .orbit-next {
  z-index: 4 !important;
}