#order {
  strong {
    color: $body-font-color;
    font-family: $header-font-family;
  }
  padding-bottom: rem-calc(20);
  h1, span.h1 {
    margin-bottom: rem-calc(25) !important;
  }
  p {
    margin-bottom: rem-calc(35);
    line-height: rem-calc(22);
    font-size: rem-calc(16);
    letter-spacing: rem-calc(-0.5);
  }
  label {
    color: $body-font-color;
  }
}

.orderForm {
  background-color: transparent;
  padding: 0 !important;
  .columns {
    padding: 0;
  }
  @include breakpoint(medium) {
    > .row:first-child > .columns, > .row:nth-child(2) > .columns {
      &:first-child {
        padding-right: rem-calc(3.5);
      }
      &:last-child {
        padding-left: rem-calc(3.5);
      }
    }
  }
  input, textarea {
    background-color: #f5f5f5;
    border: rem-calc(1) solid #e4e5e6;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
    box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
    color: #999898;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #999898;
  }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #999898;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #999898;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #999898;
    }
    &:focus {
      background-color: map_get($foundation-palette, primary);
      color: $white;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $white;
      }
    }
  }
  textarea {
    min-height: rem-calc(130);
    margin-bottom: rem-calc(20) !important;
  }
  .button {
    background-color: $button-background;
    color: $white;
    margin-bottom: rem-calc(20);
    &:hover {
      background-color: scale-color($button-background, $lightness: -15%);
    }
  }
}

.orderForm #owlOrder {
  margin-top: rem-calc(5);
  margin-bottom: rem-calc(20);
  .owl-item {
    padding: 5px;
  }
  .item {
    -webkit-box-shadow: 0px 1px 5px 1px rgba(230,230,230,1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(230,230,230,1);
    box-shadow: 0px 1px 5px 1px rgba(230,230,230,1);
    width: rem-calc(115);
    height: rem-calc(115);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: rem-calc(3);
    position: relative;
    margin-bottom: rem-calc(8);
    background-size: 90%;
  }
  .productName {
    font-size: rem-calc(14);
    text-align: center;
    display: block;
  }
  .owl-buttons {
    top: rem-calc(44) ;
    .owl-prev {
      transform: rotate(180deg);
      left: rem-calc(-15);
    }
    .owl-next {
      right: rem-calc(-15);
    }
  }
  .item.next {
    color: #cc2626;
    font-size: rem-calc(20);
    text-align: center;
    font-family: $header-font-family;
    line-height: rem-calc(20);
    letter-spacing: rem-calc(-0.5);
    padding-top: rem-calc(29);
    box-shadow: none;
    border: rem-calc(1) solid #cbcbcb;
    transition: 200ms;
    &:hover {
      background-color: #f5f5f5;
      color: $body-font-color;
      transition: 200ms;
    }
  }
  .close-button {
    background-color: map_get($foundation-palette, primary);
    color: $white;
    font-size: rem-calc(30);
    line-height: rem-calc(55);
    width: rem-calc(30);
    height: rem-calc(30);
    border-radius: 50%;
    position: absolute;
    top: rem-calc(-5);
    right: rem-calc(-10);
    span {
      position: relative;
      top: rem-calc(-13);
      left: rem-calc(1);
    }
    &:hover {
      color: $body-font-color;
    }
    font-family: $ultralight-font-family;
  }
}