.ourOffer {
  padding-top: rem-calc(50);
  padding-bottom: rem-calc(20);
  h2 {
    font-size: rem-calc(25);
    letter-spacing: rem-calc(-0.2);
  }
  .owl-carousel {
    width: 100% !important;
    margin-bottom: rem-calc(30);
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      /*background: rgba(255,255,255,1);
      !* Old Browsers *!background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);
      !* FF3.6+ *!background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(30%, rgba(255,255,255,0)), color-stop(70%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
      !* Chrome, Safari4+ *!background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);
      !* Chrome10+,Safari5.1+ *!background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);
      !* Opera 11.10+ *!background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);
      !* IE 10+ *!background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%);
      !* W3C *!filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
      !* IE6-9 *!*/
    }
  }
  .owl-item {
    padding: rem-calc(10);
  }
  .rowBig {
    padding: rem-calc(0 15);
  }
  .owl-theme .owl-buttons {
    top: calc(50% - 1.43rem);
  }
  .owl-theme .owl-controls .owl-buttons div{
    padding: rem-calc(22);
    background-size: rem-calc(9) rem-calc(14);
  }
}

.ourOffer .offer {
  background-size: 90%;
  background-position: center rem-calc(60);
  background-repeat: no-repeat;
  /*padding: rem-calc(350 15 90 15);*/
  padding: rem-calc(90 15);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  -moz-box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  box-shadow: 0px 0px 8px 2px rgba(243,243,243,0);
  border-radius: rem-calc(5);
  text-align: center;
  transition: 200ms;
  position: relative;
  img {
    margin-bottom: rem-calc(40);
  }
  h3 {
    font-size: rem-calc(25);
    letter-spacing: rem-calc(-1);
    margin-bottom: 0;
    line-height: rem-calc(25);
  }
  p {
    font-size: rem-calc(18);
    font-family: $opensans-font-family;
    line-height: rem-calc(18);
    letter-spacing: rem-calc(-0.5);
    color: $body-font-color;
  }
  &:before {
    content: "";
    width: rem-calc(34);
    height: rem-calc(44);
    background-image: url('../img/offerTriangle.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 200ms;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    box-shadow: 0px 0px 8px 2px rgba(243,243,243,1);
    padding-top: rem-calc(70);
    padding-bottom: rem-calc((110));
    transition: 200ms;
    &:before {
      opacity: 1;
      transition: 200ms;
    }
  }
}