.reveal.search {
  max-width: rem-calc(450);
  width: initial;
  h2 {
    font-size: rem-calc(24);
  }
  form {
    padding: 0 !important;
    background-color: $white;
    input {
      background-color: $white;
      border: rem-calc(1) solid #e4e5e6;
      -webkit-box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
      -moz-box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
      box-shadow: inset 1px 1px 0px 0px rgba(229,229,229,1);
      color: #999898;
      margin-bottom: rem-calc(7) !important;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #999898;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #999898;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #999898;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #999898;
      }
      &:focus {
        background-color: map_get($foundation-palette, primary);
        color: $white;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $white;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: $white;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: $white;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: $white;
        }
      }
    }
    .button {
      background-color: $button-background;
      color: $white;
      margin-bottom: rem-calc(10);
      margin-top: rem-calc(7);
      &:hover {
        background-color: scale-color($button-background, $lightness: -15%);
      }
    }
  }
  a {
    font-family: $header-font-family;
    font-size: rem-calc(16);
  }
}