.sideNav {
  ul {
    background-color: #262d2e;
    margin-bottom: rem-calc(20);
    border-radius: rem-calc(3);
    li {
      transition: 200ms;
      &:before {
        left: rem-calc(24);
        top: rem-calc(23);
      }
    }
    li.active {
      background-color: map_get($foundation-palette, primary);
    }
    li:hover, li:hover a {
      background-color: map_get($foundation-palette, primary);
      transition: 200ms;
    }
    a {
      color: $white !important;
      padding-top: rem-calc(22);
      padding-bottom: rem-calc(22);
      transition: 200ms;
    }

  }
}