{* filtry kategorii v levem sloupci *}

{* listy s razenim a filtrovanim produktu 

{if $search_string}<input type="hidden" name="search_string"  value="{$search_string}" />{/if}
<div id="FilterSection">
*}
   
   {*if $price_selected_min && $price_selected_max}
   <div class="caption">Cena</div>
   {* price - slider *}{*
   <div class="slider_container jquery_css"> 
    <div class="slider-values">
	{*Filter by price interval: <b>{$price_selected_min}</b> <input name="prices" id="ex2" type="text" class="span2" value="" data-slider-min="{$price_min}" data-slider-max="{$price_max}" data-slider-step="5" data-slider-value="[{$price_selected_min},{$price_selected_max}]"/> <b>{$price_selected_max}</b>
	
       <input type="hidden" id="amount1" name="price_selected_min" value="{$price_selected_min}" />
       <input type="hidden" id="amount2" name="price_selected_max" value="{$price_selected_max}" />*}{*
    </div>
    <div id="am1">{$price_selected_min} <span>Kč</span></div>
    <div class="slide-range-container"><div id="slider-range"></div></div>
    <div id="am2">{$price_selected_max} <span>Kč</span></div>
   </div>
   {/if*}
   
    
   <div class="col-md-12 manufactures_box">
   <div class="caption">Výrobce</div>
   <div class="content  ver2">
     {foreach name=manu from=$manufacturers key=key item=item}
	 {if  !empty($item.id)}
	<!--/ start manu Group--> 
	<div class="col-sm-3">   		  
	    <input type="checkbox" name="pfm[{$item.id}]" id="pfm_{$item.id}" class="manufacturer_checkbox" value="{$item.id}"{if !empty($manchbids[$item.id]) && $manchbids[$item.id]} checked="checked"{/if}/>
	    <label for="pfm_{$item.id}">{$item.manufacturer}</label>     
	</div><!--/end manu Group--> 
	{/if}
     {/foreach}
     <div class="correct"></div>
   </div>
</div>
  

