{* vypis uvodka kategorie produktu - vnejsi obalujici sablona *}

{*<div id="CenterSectionLeft"> 
  {widget controller="product" action="category_subnav"} 
</div>
<div id="ContentSection">
  <div id="ProductListSection">
    <h1>{$category.nazev}</h1>
    <div class="description">
      {$category.popis}
    </div>
    <div class="products bigMT">
       {$product_category_items}
    <div class="correct"></div>
    </div>

    <div class="pagination">
       {$pagination}
    </div>
  
  </div>
</div>*}
       
        
