#page.about {
  .imgBox {
    &.top {
      margin-top: rem-calc(-50);
    }
    margin: 0;
    ul {
      li {
        line-height: rem-calc(25);
        margin-bottom: rem-calc(30);
        padding-left: rem-calc(20);
      }
    }
  }
  .contactBox {
    margin: 0;
  }
  article > .row > .small-12 > p:last-child {
    margin-bottom: rem-calc(50);
  }
  .textPadding h3.h1 {
     @extend h1;
    margin-top: rem-calc(50);
  }
  .team {
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(30);
  }
}