@import "dropdown";

#topBar {
  margin-bottom: rem-calc(50);
  .sticky {
    z-index: 5;
  }
  .is-stuck {
    .mainNav > li {
      > a {
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
      }
      &.down > a::after {
        top: rem-calc(34);
      }
      &.search a {
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(20);
      }
      &.user a {
        padding-top: rem-calc(18);
        padding-bottom: rem-calc(18);

      }
    }
    .top-bar-title {
      margin: rem-calc(5 0);
      @include breakpoint(medium down) {
        margin: 0;
      }
    }
    .button.order {
      .badge {
        top: rem-calc(-8);
      }
    }
    .user .badge {
      top: rem-calc(43);
      transition: 200ms;
    }
  }
  .accordion-content {
    padding: 0;
  }
}

.top-bar {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(229,229,229,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(229,229,229,1);
  box-shadow: 0px 0px 10px 5px rgba(229,229,229,1);
  .top-bar-title {
    margin-right: 0;
    @include breakpoint(medium down) {
      padding-left: rem-calc(22);
      margin: 0;
      img {
        margin: rem-calc(8.5 0 8.5 15);
      }
    }
    .button {
      margin: rem-calc(5 15 5 15);
    }
    @include breakpoint(large) {
      margin-top: rem-calc(22);
    }
    @include breakpoint(1125px down) {
      margin-top: rem-calc(30);
      img {
        width: rem-calc(80);
      }
    }
    @include breakpoint(1050px down) {
      margin-top: rem-calc(35);
      margin-right: 0;
      img {
        width: rem-calc(60);
      }
    }
    @include breakpoint(1100px down) {
      img {
        display: none;
      }
    }
    @include breakpoint(medium down) {
      margin-top: 0;
      img {
        display: initial;
      }
    }
  }
}

.top-bar {
  @include breakpoint(medium down) {
    .top-bar-right {
      width: 100%;
    }
    .mainNav > li > a {
      padding-top: rem-calc(10) !important;
      padding-bottom: rem-calc(10) !important;
    }
    > .row > .columns {
      padding: 0;
    }
  }
}
.top-bar .mainNav {
  color: $body-font-color !important;
  font-size: rem-calc(14);
  // font-family: $header-font-family;
  > li > a {
    color: $body-font-color;
    padding: rem-calc(47.5 22);
    transition: 200ms;
  }
  > li {
    & > a:hover, > a.hover {
      // text-decoration: underline;
      transform: scale(1.2);
      color: $body-font-color;
      transition: 100ms;
    }
    &.active {
      > a {
        background-color: transparent;
        color: map_get($foundation-palette, primary) !important;
        transition: 200ms;
        position: relative;
        z-index: 1;
      }
    }
  }
  .button.order {
    // background-image: url("../img/topBarBtnBg.png");
    // background-repeat: no-repeat;
    // background-position: left center;
    // background-size: contain;
    position: relative;
    height: rem-calc(33);
    padding: rem-calc(5 10 3 8);
    @include breakpoint(medium down) {
      margin-left: rem-calc(22);
    }
    .badge {
      background-color: map_get($foundation-palette, secondary);
      font-family: $header-font-family;
      line-height: rem-calc(18);
      position: absolute;
      top: rem-calc(-14);
      right: rem-calc(-14);
      min-width: rem-calc(28);
      font-size: 1rem;
    }
  }
  .user .badge {
    min-width: rem-calc(300);
    text-align: right;
    background-color: transparent;
    color: $body-font-color;
    position: absolute;
    right: rem-calc(10);
    top: rem-calc(73);
    font-size: rem-calc(15);
    transition: 200ms;
    font-family: $header-font-family;
    font-weight: bold;
    @include breakpoint(medium down) {
      top: rem-calc(3);
      left: rem-calc(65);
      text-align: left;
      padding-top: rem-calc(10);
    }
  }
  .search, .user {
    position: relative;
    a {
      padding-left: rem-calc(10);
      padding-right: rem-calc(17);
      padding-top: rem-calc(44);
      padding-bottom: rem-calc(39);
      transition: 200ms;
      img {
        transform: scale(1);
        transition: 200ms;
      }
      @include breakpoint(medium down) {
        padding-left: rem-calc(22);
      }
      &:hover {
        background-color: transparent;
        img {
          transform: scale(1.2);
          transition: 200ms;
        }
      }
      span {
        margin-top:0.25rem;
        margin-left:-0.8rem;
        display: inline-block;
        font-size: 0.8rem;
      }
    }
  }
  .logout {
    a {
      padding-top: rem-calc(42);
      padding-bottom: rem-calc(42);
    }
  }
  .phone {
     background-color: #00a54f;
    color: $white;
    padding: rem-calc(5 10 3 8);
    border-radius: rem-calc(5);
   margin: rem-calc(5 15 5 15);
    display: inline-block;
    img {
      position: relative;
      top: rem-calc(-2);
    }
  }
  .down {
    @include breakpoint(medium down) {
      > ul {
        margin: 0;
      }
    }
    > a {
      padding-right: rem-calc(37);
      position: relative;
    }
    > a::after {
      border: none;
      margin: 0;
      width: rem-calc(10);
      height: rem-calc(7);
      content: "";
      background-image: url("../img/topBarArrowDown.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;
      position: absolute;
      top: rem-calc(51);
      right: rem-calc(15);
      transition: 200ms;
      @include breakpoint(medium down) {
        top: rem-calc(13);
      }
    }
    &.active > a::after {
      background-image: url("../img/topBarArrowDownWhite.png");
      transition: 200ms;
    }
    > a:hover::after {
      background-image: url("../img/topBarArrowDown.png");
      transform: rotateX(180deg);
      transition: 200ms;
    }
    &.active > a:hover::after {
      background-image: url("../img/topBarArrowDownWhite.png");
      transform: rotateX(180deg);
      transition: 200ms;
    }
    > a.hover::after {
      background-image: url("../img/topBarArrowDown.png");
      transform: rotateX(0deg);
      transition: 200ms;
    }
    /*&.is-down > a::after {
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -ms-transform: scaleY(-1);
      transform: scaleY(-1);
    }*/
  }
}
